<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
       <nav>
        <a href="/home">HOME</a>
        <a href="/pic">PIC</a>
        <a href="/about">ABOUT</a>
       </nav>
       <main>
        <div id="main-about">
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <button id="btn">click for secret</button>
            <p id="sec" hidden style="background-color:aqua;"><a href="#">to secret page</a></p>
        </div>
       </main>
       <footer>
        <p>mail@mail.com</p>
        <p>powerd by hackfresse</p>
        <p>mobil - 123/45789</p>
       </footer> 
       <script src="/script.js"></script>
    </body>
</html>