<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
       <nav>
        <a href="/home">HOME</a>
        <a href="/pic">PIC</a>
        <a href="/about">ABOUT</a>
       </nav>
       <main>
        <div id="main-index">
            <h1 style="color: black;">Welcome to the Website</h1>
            <p>ready to explore</p>
        </div>
        <img src="/tor.jpg" alt="" style="width: 500px; height: 500px;">
       </main>
       <footer>
        <p>mail@mail.com</p>
        <p>powerd by hackfresse</p>
        <p>mobil - 123/45789</p> 
       </footer> 
     
    </body>
</html>